<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.rich_text_area :body_area, id: :blog_body_area %>
  </div>

  <div class="field">
    <%= form.label"Upload Main Picture" %>
    <%= form.file_field :main_image, class: "m-4" %>
  </div>

  <div class="field">
    <%= form.label"Embed youtube video" %>
    <%= form.text_field :youtube_link, class: "m-4" %>
    <small>Just copy and past the link from youtube in order to add it to the top of the blog page.</small>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
