<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.rich_text_area :body_area, id: :blog_body_area %>
  </div>

  <div class="field">
    <%= form.label"Upload Main Picture" %>
    <%= form.file_field :main_image, class: "m-4" %>
  </div>

  <div class="field">
    <%= form.label"Embed youtube video" %>
    <%= form.text_field :youtube_link, class: "m-4" %>
    <small>This link needs to be an embed code from youtube. And should look like this:</small>
    <br>
    <small>&lt;iframe width=&quot;1228&quot; height=&quot;691&quot; src=&quot;https://www.youtube.com/embed/Oba-keArOSI&quot; frameborder=&quot;0&quot; allow=&quot;accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture&quot; allowfullscreen&gt;&lt;/iframe&gt;</small>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
