<%= stylesheet_link_tag "blogs" %>

<section class="publicaciones-blog-home pt-3 pb-3">
  <div class="container pt-5">
    <div class="">
      <div class="row-page row">
        <% @counter = 0 %>
        <% @blogs.each do |blog| %>
          <% if @counter == 0 %>
            <div class="col-page col-sm-8 col-md-6">
              <a href="/blogs/<%= blog.id %>" class="black fondo-publicacion-home">
                <div class="img-publicacion-principal-home">
                  <%= image_tag blog.main_image.variant(resize: "500x300") %>
                </div>
                <div class="contenido-publicacion-principal-home">
                  <h3><%= blog.title %></h3>
                  <p><%= blog.body_area.to_plain_text.first(150)%><span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Read More </span>
                </div>
              </a>
            </div>
            <% elsif @counter >= 0 && @counter < 6 %>
              <div class="col-page col-sm-4 col-md-3">
                <a href="/blogs/<%= blog.id %>"  class="fondo-publicacion-home">
                  <div class="img-publicacion-home">
                    <%= image_tag blog.main_image.variant(resize: "300x500"), class: "img-responsive" %>
                  </div>
                  <div class="contenido-publicacion-home">
                    <h3><%= blog.title %></h3>
                    <p><%= blog.body_area.to_plain_text.first(150)%><span>...</span></p>
                  </div>
                  <div class="mascara-enlace-blog-home">
                    <span>Read More </span>
                  </div>
                </a>
              </div>
            <% else %>
              <div class="col-page col-sm-4 col-md-3">
                <a href="/blogs/<%= blog.id %>" class="todas-las-publicaciones-home">
                  <span><%= blog.title %></span>
                </a>
              </div>
            <% end %>
          <% @counter +=1 %>
          <% @counter = 0 if @counter == 7 %>
        <% end %>
      </div>
    </div>
  </div>
</section>