<%= stylesheet_link_tag "blogs" %>

<section class="container-fluid publicaciones-blog-home pt-5 pb-0 mb-0">
  <div class="row">
    <div class="col-md-7 offset-md-1">
      <div class="search mb-3 mt-3 mr-3">
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#searchSimple" aria-expanded="false" aria-controls="collapseExample">
          Quick Search
        </button>
        <button class="btn btn-secondary ml-2" type="button" data-toggle="collapse" data-target="#searchAdvanced" aria-expanded="false" aria-controls="collapseExample">
          Advanced Search
        </button>
        <!--        Simple Search-->
        <div class="collapse mt-3" id="searchSimple">
          <div class="search_wrapper">
            <%= form_tag blogs_path, method: 'get' do %>
              <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Title Name" %>
              <%= submit_tag "Search", class: 'btn btn-outline-dark mt-3' %>
            <% end %>
          </div>
        </div>
        <!--        search Advanced-->
        <div class="collapse mt-3" id="searchAdvanced">
          <div class="search_wrapper">
            <%= form_tag blogs_path, method: 'get' do %>
              <div class="input-daterange input-group mt-3" id="datepicker">
                <input type="text" class="input-sm form-control" name="start" id="picker-start" placeholder="Start Date" />
                <input type="text" class="input-sm form-control" name="end" id="picker-end" placeholder="End Date"/>
              </div>
              <%= text_field_tag :title_search, params[:title_search], class: 'form-control mt-3', placeholder: "Title Name", id: "title-search" %>
              <%= text_area_tag :phrase_search, params[:phrase_search], class: 'form-control mt-3', placeholder: "Part of the blog body", id: "phrase-search" %>
              <label for="video-include-tag">Have video in body?</label>
              <%= check_box_tag :include_video, false, params[:video], class: 'mt-3', id: 'video-include-tag' %>
              <br>
              <button class="btn btn-outline-dark mt-3" id="clear_form_button">Reset</button>
              <%= submit_tag "Search", class: 'btn btn-outline-dark mt-3' %>
            <% end %>
          </div>
        </div>
      </div>

      <!--      Main blog-->
      <div class="col-page col-sm-8 col-md-12 p-0 pb-4">
        <div class="main-blg-wrapper">
          <a href="/blogs/<%= @blogs[0].id %>">
            <div>
              <%= image_tag @blogs[0].main_image.variant(combine_options: { resize: '1400^', resize_to_fill: [1600, 600] }), class: "img-fluid", id: 'main-blog' %>
            </div>
            <div class="main-blog-text p-3">
              <h3><%= @blogs[0].title.upcase %></h3>
              <p><%= @blogs[0].body_area.to_plain_text.first(200)%><span>...</span></p>
              <span>Read More </span>
            </div>
          </a>
        </div>
      </div>

      <%= paginate @blogs %>
      <hr>
      <div class="row-page row">
        <% @counter = 0 %>
        <% @blogs.each do |blog| %>
          <% if @counter == 0 %>
            <div class="col-page col-sm-8 col-md-6">
              <a href="/blogs/<%= blog.id %>" class="black fondo-publicacion-home">
                <div class="img-publicacion-principal-home">
                  <%= image_tag blog.main_image.variant(combine_options: { resize: '^400', resize_to_fill: [270, 400] }) %>
                </div>
                <div class="contenido-publicacion-principal-home">
                  <h3><%= blog.title %></h3>
                  <p><%= blog.body_area.to_plain_text.first(150)%><span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Read More </span>
                </div>
              </a>
            </div>
            <% elsif @counter >= 0 && @counter < 6 %>
              <div class="col-page col-sm-4 col-md-3">
                <a href="/blogs/<%= blog.id %>"  class="fondo-publicacion-home">
                  <div class="img-publicacion-home">
                    <%= image_tag blog.main_image.variant(combine_options: { resize: '255^', resize_to_fill: [400, 180] }), class: "img-responsive" %>
                  </div>
                  <div class="contenido-publicacion-home">
                    <h3><%= blog.title %></h3>
                    <p><%= blog.body_area.to_plain_text.first(150)%><span>...</span></p>
                  </div>
                  <div class="mascara-enlace-blog-home">
                    <span>Read More </span>
                  </div>
                </a>
              </div>
            <% else %>
              <div class="col-page col-sm-4 col-md-3">
                <a href="/blogs/<%= blog.id %>" class="todas-las-publicaciones-home">
                  <span><%= blog.title %></span>
                </a>
              </div>
            <% end %>
          <% @counter +=1 %>
          <% @counter = 0 if @counter == 7 %>
        <% end %>
      </div>
      <hr>
      <%= paginate @blogs %>
    </div>
    <div class="col-md-4 ml-auto right-row">
      <div class="mb-5 mt-5 ml-5">
        <h3 class="mb-3">Best sets of workouts for you</h3>
        <%= render 'aplication/show_workouts' %>
      </div>
    </div>
  </div>

  <div class="youtube-wrapper p-5">
    <%= render "aplication/show_free_videos" %>
  </div>

  <div class="tutorials-wrapper">
    <%= render 'aplication/show_tutorials' %>
  </div>

  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container p-5">
      <h1 class="display-4">Have Any Questions?</h1>
      <p class="lead">Please contact me. Contrary to popular belief, Lorem Ipsum is not simply random text</p>
      <a href="/contact_us" class="btn btn-secondary">CONTACT US</a>
    </div>
  </div>
</section>

<script>
  $('.input-daterange').datepicker({
  });

  $("#clear_form_button").on("click", function() {
    $("#picker-start").val("");
    $("#picker-end").val("");
    $("#title-search").val("");
    $("#phrase-search").val("");
  });
</script>