<%= stylesheet_link_tag "blogs" %>

<div class="blog-wrapper">
  <div class="d-flex picHolder text-center sliderWrapper parallax-window" data-parallax="scroll" data-image-src="<%= url_for(@blog.main_image) %>">
    <div class="container align-self-center p-2 bd-highlight">
      <h1 class="display-3" id="textHolder"><%= @blog.title %></h1>
    </div>
  </div>

  <div class="container blog-body"><%= @blog.body_area %></div>

  <% unless user_signed_in? %>
    <div class="registration-wrapper container text-center">
      <h3>Register to Aermotion Project</h3>
      <p>Get the latest free videos and workouts</p>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  <% end %>

  <div class="container text-center p-3">
    <%= link_to 'Back', blogs_path, class: "btn btn-light"%>
  </div>
</div>

