<%= form_with(model: free_video, local: true) do |form| %>
  <% if free_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(free_video.errors.count, "error") %> prohibited this free_video from being saved:</h2>

      <ul>
      <% free_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :free_video_title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :free_video_url %>
    <small>This link needs to be an embed code from youtube. And should look like this:</small>
    <br>
    <small>&lt;iframe width=&quot;1228&quot; height=&quot;691&quot; src=&quot;https://www.youtube.com/embed/Oba-keArOSI&quot; frameborder=&quot;0&quot; allow=&quot;accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture&quot; allowfullscreen&gt;&lt;/iframe&gt;</small>
    <br>
    <small><b>Note:</b> When the page is saved it will show parsed short link without iframe, this is how it should be. Use iframe only for updating the form!</small>
    <br>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :free_video_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
