<%= stylesheet_link_tag "admin_panel" %>

<section>
  <div class="container mt-5 mb-5">
    <h1>Free Videos</h1>

    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @free_videos.each do |free_video| %>
        <tr>
          <td><%= free_video.title %></td>
          <td><%= free_video.url %></td>
          <td><%= free_video.description %></td>
          <td><%= link_to 'Show', free_video %></td>
          <td><%= link_to 'Edit', edit_free_video_path(free_video) %></td>
          <td><%= link_to 'Destroy', free_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Free Video', new_free_video_path %>
    <br>
    <%= link_to 'Go Back', admin_panel_path %>
  </div>
</section>
