<div class="sticky-top toolbar transparent text-center">
  <div class="page-width">
    <div class="toolbar__content">

      <div class="toolbar__item toolbar-menu">
        <div class="my-2 my-md-0 mr-md-3">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-darker" id="nav-holder">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Workouts", workout_sets_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Tutorials", tutorials_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Blog", blogs_path, class: "nav-link effect-underline" %></li>
                <% if user_signed_in? %>
                  <li class="nav-item"><%= link_to "My Videos", my_videos_path, class: "nav-link" %></li>
                <% end %>
                <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Contact", contact_us_path, class: "nav-link" %></li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <i class="fa fa-user user-icon nav-link"></i>
                <% if user_signed_in? %>
                  <li class="nav-item"><%= link_to "My Profile", edit_user_registration_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
                <% else %>
                  <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Register", new_user_registration_path, class: "nav-link" %></li>
                <% end %>

                <% if user_signed_in? && current_user.admin %>
                  <li class="nav-item"><%= link_to "Admin Panel", admin_panel_path, class: "nav-link" %></li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop >= 80) {
      document.getElementById("nav-holder").style.fontSize = "20px";
      document.getElementById("nav-holder").style.padding = "0px";
      //parallax-window
    }
    else if (document.documentElement.scrollTop < 20) {
      document.getElementById("nav-holder").style.fontSize = "30px";
      document.getElementById("nav-holder").style.padding = "20px";
    }
  }
</script>