<div class="toolbar transparent text-center">
  <div class="page-width">
    <div class="toolbar__content">

      <div class="toolbar__item toolbar-menu">
        <ul class="inline-list">

          <li>
            <%= link_to "Home", root_path %>
          </li>

          <li>
            <%= link_to "Skills & Drills", workout_sets_path %>
          </li>

          <li>
            <%= link_to "Free registration", edit_user_registration_path %>
          </li>

          <li>
            <%= link_to "Support project", support_path %>
          </li>

          <li>
            <a href="#">Blog</a>
          </li>

          <li>
            <%= link_to "Admin Panel", admin_panel_path %>
          </li>

          <li>
            <%= link_to "My Videos", my_videos_path %>
          </li>

          <li>
            <a href="#">Contact Us</a>
          </li>

          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>