<% @workdouts = WorkoutSet.includes(:type).where(type: Type.where(name:"Set").take.id).order('RANDOM()').first(5) %>

<div class="card mb-3" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @workdouts[0].title %></h5>
    <p class="card-text"><%= @workdouts[0].description.first(150) %>...</p>
    <a href="/workout_sets/<%= @workdouts[0].id %>" class="btn btn-secondary">Read More</a>
  </div>
</div>

<div class="card mb-3" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @workdouts[1].title %></h5>
    <p class="card-text"><%= @workdouts[1].description.first(150) %>...</p>
    <a href="/workout_sets/<%= @workdouts[1].id %>" class="btn btn-secondary">Read More</a>
  </div>
</div>

<div class="card mb-3" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @workdouts[2].title %></h5>
    <p class="card-text"><%= @workdouts[2].description.first(150) %>...</p>
    <a href="/workout_sets/<%= @workdouts[2].id %>" class="btn btn-secondary">Read More</a>
  </div>
</div>

<div class="card mb-3" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @workdouts[3].title %></h5>
    <p class="card-text"><%= @workdouts[3].description.first(150) %>...</p>
    <a href="/workout_sets/<%= @workdouts[3].id %>" class="btn btn-secondary">Read More</a>
  </div>
</div>