<table>
  <thead>
  <tr class="admin-head">
    <th class="text-center">ID</th>
    <th class="text-center">Name</th>
    <th class="text-center">Price</th>
    <th class="text-center">Type</th>
    <th class="text-center">Videos</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% workouts.each do |workout| %>
    <tr class="admin-row">
      <td class="text-center"><%= workout.id %></td>
      <td class="text-center"><%= workout.title %></td>
      <td class="text-center"><%= workout.price %></td>
      <td class="text-center"><%= workout.type.name %></td>
      <td class="text-center">

        <% workout.media.each do |m| %>
          <div>
            <a href="/media/<%= m.id %>"><%= m.title %></a>
          </div>
        <% end %>

      </td>
      <td>
        <button type="button" class="btn btn-success" onclick="showPopup('<%= workout.id %>')" data-toggle="modal" >
          +
        </button>
      </td>
    </tr>
  <% end %>

</table>
<%= render 'modal_video' %>

<script>
  function showPopup(id) {
    var popup = $('#exampleModalCenter');
    popup.find('#workout-modal').val(id);
    popup.modal('show');
  }
</script>