<table>
  <thead>
  <tr class="admin-head">
    <th class="text-center">ID</th>
    <th class="text-center">Name</th>
    <th class="text-center">Price</th>
    <th class="text-center">Type</th>
    <th class="text-center">Videos</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% workouts.each do |workout| %>
    <tr class="admin-row">
      <td class="text-center"><%= workout.id %></td>
      <td class="text-center"><%= workout.title %></td>
      <td class="text-center"><%= workout.price %></td>
      <td class="text-center"><%= workout.type.name %></td>
      <td class="text-center">
        <% workout.media.each do |m| %>
          <div>
            <a href="/media/<%= m.id %>"><%= m.title %></a>
          </div>
        <% end %>
      </td>
      <td>
        <%#= render 'modal_video', workout: workout %>
        <button type="button" class="btn btn-success" onclick="showPopup('<%= workout.id %>')" data-toggle="modal" da1ta-target="#1exampleModalCenter" >
          +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Select Video to Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_with scope: "link_sets", url: admin_create_video_path do |form| %>
                  <div class="field">
                    Workout_id = <%= workout.id %>
                    <%= form.collection_select(:video_link, Medium.all, :id, :title, {}, multiple: true  )%>
                    <%= form.hidden_field(:workout_link, id: "workout-modal") %>
<!--                    <input type="hidden" id="workout-modal" name="workout_link">-->
                  </div>

                  </div>
                  <div class="modal-footer">
                    <%= form.submit %>
                    <button type="button" class="btn btn-primary">Cancel</button>
                <% end %>
                </div>
                </div>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<script>
  function showPopup(id) {
    var popup = $('#exampleModalCenter');
    popup.find('#workout-modal').val(id);
    popup.modal('show');
  }
</script>