<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Sign Count</th>
    <th>Created</th>
    <th>Workout Sets</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.created_at %></td>
      <td>
        <% user.workout_sets.each do |set| %>
          <table>
            <tr>
              <td>
                <a href="/workout_sets/<%= set.id %>"><%= set.title %></a>
              </td>
              <td>
                <% set.media.each do |m| %>
                  <ul>
                    <li>
                      <a href="/media/<%= m.id %>"><%= m.title %></a>
                    </li>
                  </ul>
                <% end %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
