<%= stylesheet_link_tag "admin_panel" %>

<div class="container">
  <div class="header-title">
    <h1 class="">AdminPanel</h1>
  </div>
  <hr>

  <ul>
    <li><%= link_to 'Users Mapping', admin_users_mapping_path %></li>
    <li><%= link_to 'Workout Sets', admin_workouts_path %></li>
    <li><%= link_to 'Assign User', admin_user_connection_path %></li>
  </ul>

  <div class="p-4">
    <h3> Videos:</h3>
    <%= render 'show_videos', videos: @videos %>
  </div>
</div>
