<%= stylesheet_link_tag "admin_panel" %>

<div class="container">
  <div class="header-title">
    <h1 class="">Admin Panel</h1>
  </div>
  <hr>

  <ul>
    <h3 class="mt-3">Main Flow Setup:</h3>
    <li><%= link_to 'Users Mapping', admin_users_mapping_path %></li>
    <li><%= link_to 'Workout Sets', admin_workouts_path %></li>
    <li><%= link_to 'Assign User', admin_user_connection_path %></li>
    <li><%= link_to 'Add Videos', admin_add_videos_path %></li>
    <h3 class="mt-3">Payments Invoices:</h3>
    <li><%= link_to 'PayPal Transactions', admin_add_videos_path %></li>
  </ul>
</div>
