<%= stylesheet_link_tag "admin_panel" %>

<ul>
  <li><%= link_to 'Workout Sets', admin_workouts_path %></li>
</ul>

<div class="container">
  <div class="header-title">
    <h1 class="">AdminPanel</h1>
  </div>

  <hr>

  <div class="p-4">
    <h3> Users Mapping:</h3>
    <%= render 'show_users', users: @users %>
  </div>

  <div class="p-4">
    <h3> Add user to Workout Sets:</h3>
    <%= render 'show_user_connections', users: @users %>
  </div>


  <div class="p-4">
    <h3> Videos:</h3>
    <%= render 'show_videos', videos: @videos %>
  </div>
</div>
