<%= stylesheet_link_tag "home" %>

<div class="d-flex picHolder text-center sliderWrapper parallax-window full-height" data-parallax="scroll" data-image-src="<%= asset_path "misha_cover2.jpg" %>">
  <div class="container align-self-center p-2 bd-highlight white slogan-wrapper">
    <h1 class="display-2 text-center slogan-text"><b>Aerobic</b> Calisthenics Fitness Guide</h1>
    <h1 class="text-center slogan-text">Skills progressions</h1>
    <h1 class="text-center slogan-text">Effective specific muscle conditioning workout programs</h1>
  </div>
</div>

<div class="card text-center bg-darker text-light">
  <div class="card-body">
    <%= render "aplication/show_free_videos" %>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container align-self-center p-2 bd-highlight white">
    <h1 class="display-2 text-center slogan-text">Workouts</h1>
    <h1 class="text-center slogan-text">Add some text here to explain what tutorials are:</h1>
  </div>
</div>

<div class="container container-fluid">
  <div class="row justify-content-center">
    <% unless @workout_sets.nil? %>
      <% @workout_sets.each do |t| %>
        <div class="col-12 col-md-4 container container-fluid">
          <a class="card mb-3 shadow card-holder" style="max-height: 300px; overflow: hidden;" href="/workout_sets/<%= t.id %>">

            <%= image_tag t.main_image.variant(resize: '600'), alt: "w.id", class: 'card-img-top'%>

            <div class="exercise-card-overlay card-img-overlay-gradient">
            </div>

            <div class="card-img-overlay p-3 mb-0">
              <h5 class="text-white mb-0"><%= t.title %></h5>
              <small class="text-white">Includes <%= t.media.count %> videos</small>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
    <a class="btn btn-dark btn-lg shadow-lg px-5 my-3" href="/workout_sets">View all</a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container align-self-center p-2 bd-highlight white">
    <h1 class="display-2 text-center slogan-text">Tutorials</h1>
    <h1 class="text-center slogan-text">Add some text here to explain what tutorials are:</h1>
  </div>
</div>

<div class="container container-fluid">
  <div class="row justify-content-center">
    <% unless @tutorials.nil? %>
      <% @tutorials.each do |t| %>
        <div class="col-12 col-md-4 p-0">
          <a class="card shadow card-holder" style="max-height: 300px; border: 0; overflow: hidden;" href="/workout_sets/<%= t.id %>">

            <%= image_tag t.main_image.variant(resize: '600'), alt: "w.id", class: 'card-img-top'%>

            <div class="exercise-card-overlay card-img-overlay-gradient">
            </div>

            <div class="card-img-overlay p-3 mb-0">
              <h5 class="text-white mb-0"><%= t.title %></h5>
              <small class="text-white">Includes <%= t.media.count %> videos</small>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
    <a class="btn btn-dark btn-lg shadow-lg px-5 my-3" href="/tutorials">View all</a>
  </div>
</div>