<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "hover_grid" %>

<!--<div class="slogan-wrapper">-->
<!--  <div class="slogan align-self-center white">-->
<!--    <h1 class="display-2 text-center slogan-text">Aerobic Calisthenics Fitness Guide</h1>-->
<!--    <h1 class="text-center slogan-text">Skills progressions</h1>-->
<!--    <h1 class="text-center slogan-text">Effective specific muscle conditioning workout programs</h1>-->
<!--  </div>-->
<!--</div>-->
<!--<video autoplay muted loop class="embed-responsive embed-responsive-16by9">-->
<!--  <source src="<%#= asset_path "180419_Boxing_05_06.mp4" %>" type="video/mp4">-->
<!--</video>-->

<div class="d-flex picHolder text-center sliderWrapper parallax-window full-height" data-parallax="scroll" data-image-src="<%= asset_path "misha_cover2.jpg" %>">
  <div class="container align-self-center p-2 bd-highlight white slogan-wrapper">
    <h1 class="display-2 text-center slogan-text"><b>Aerobic</b> Calisthenics Fitness Guide</h1>
    <h1 class="text-center slogan-text">Skills progressions</h1>
    <h1 class="text-center slogan-text">Effective specific muscle conditioning workout programs</h1>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container align-self-center p-2 bd-highlight white">
    <h1 class="display-2 text-center slogan-text">Workouts</h1>
    <h1 class="text-center slogan-text">Add some text here to explain what tutorials are:</h1>
  </div>
</div>

<div class="latest-tutorials gray-bg white d-none d-md-none d-lg-block">
  <div class="">
    <!-- Top Navigation -->
    <div>
      <div class="grid">
        <% @workout_sets.each do |w| %>
        <figure class="effect-ravi p-0 m-0">
          <%= image_tag w.main_image.variant(resize: "600"), alt: "w.id"%>
          <figcaption>
            <div>
              <h2>Workout</h2>
              <p><%= w.title %></p>
            </div>
            <a href="/workout_sets/<%= w.id %>">View more</a>
          </figcaption>
        </figure>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="latest-tutorials gray-bg white d-lg-none d-xl-none">
  <div class="">
    <!-- Top Navigation -->
    <div>
      <div class="">
        <% @workout_sets.each do |w| %>
          <a href="/workout_sets/<%= w.id %>" id="href">
            <figure class="effect-ravi p-0 m-0">
              <%= image_tag w.main_image.variant(resize: "600"), alt: "w.id"%>
                <div>
                  <h2>Workout</h2>
                  <p><%= w.title %></p>
                </div>
            </figure>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container align-self-center p-2 bd-highlight white">
    <h1 class="display-2 text-center slogan-text">Tutorials</h1>
    <h1 class="text-center slogan-text">Add some text here to explain what tutorials are:</h1>
  </div>
</div>

<div class="latest-tutorials gray-bg white d-none d-md-none d-lg-block">
  <div class="">

    <div>
      <div class="grid">
        <% @tutorials.each do |t| %>
          <figure class="effect-ravi p-0 m-0">
            <%= image_tag t.main_image.variant(resize: "600"), alt: "w.id"%>
            <figcaption>
              <div>
                <h2>Tutorial</h2>
                <p><%= t.title %></p>
              </div>
              <a href="/workout_sets/<%= t.id %>">View more</a>
            </figcaption>
          </figure>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="latest-tutorials gray-bg white d-lg-none d-xl-none">
  <div class="">

    <div>
      <div class="">
        <% @tutorials.each do |t| %>
          <a href="/workout_sets/<%= t.id %>" id="href">
            <figure class="effect-ravi p-0 m-0">
              <%= image_tag t.main_image.variant(resize: "600"), alt: "w.id"%>
                <div>
                  <h2>Tutorial</h2>
                  <p><%= t.title %></p>
                </div>
            </figure>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--<div class="grid">-->
<!--  <div class="grid__item theme-1">-->
<!--    <div class="grid__item-content">-->
<!--      <nav class="grid__item-nav">-->
<!--        <a href="https://tympanus.net/Development/GridMenu/" class="grid__item-link">Previous Demo</a>-->
<!--        <a href="https://tympanus.net/codrops/?p=34430" class="grid__item-link">Article</a>-->
<!--      </nav>-->
<!--      <h2 class="grid__item-title grid__item-title--small">Useful Workouts for You</h2>-->
<!--      <a class="pater" href="http://go.thoughtleaders.io/HelloSignCodrops100418" onclick="recordOutboundLink(this, 'Outbound Links', 'HelloSignCodrops100418');return false;">-->
<!--        <div class="pater__img">-->
<!--        </div>-->
<!--        <h3 class="pater__title">Workout Sets for you which will bring you back to the shape you deserve!</h3>-->
<!--        <p class="pater__description">With a robust SDK, amazing support, detailed documentation, and super clean dashboard, HelloSign API is sure to make your team happy. <strong>Try it today!</strong></p>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="grid__item grid__item--bg theme-2 slide-2">-->
<!--    <div class="grid__item-content">-->
<!--      <span class="grid__item-meta">California</span>-->
<!--      <h2 class="grid__item-title">Jumping Around</h2>-->
<!--      <h3 class="grid__item-subtitle">-->
<!--        <span>California's last empty jump spots</span>-->
<!--        <a class="grid__item-link" href="#">Discover more</a>-->
<!--      </h3>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div-->
<!--  class="picHolder text-center sliderWrapper parallax-window p-0 m-0"-->
<!--  data-parallax="scroll"-->
<!--  data-image-src="<%#= url_for( asset_url "slide_1.jpg" ) %>">-->
<!--</div>-->

<!--<div class="grid">-->
<!--  <div class="grid__item theme-5">-->
<!--    <div class="grid__item-content">-->
<!--      <nav class="grid__item-nav">-->
<!--        <a href="#" class="grid__item-link">Getting there</a>-->
<!--        <a href="#" class="grid__item-link">Accomodation</a>-->
<!--      </nav>-->
<!--      <h2 class="grid__item-title grid__item-title--small">Bangkok's Hidden Foodstalls</h2>-->
<!--      <p class="grid__item-text">Tingling of the spine, network of wormholes preserve and cherish that pale blue dot cosmic ocean encyclopaedia galactica.</p>-->
<!--      <a href="#" class="grid__item-link">Read more</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="grid__item grid__item--bg theme-6">-->
<!--    <div class="grid__item-img" data-displacement="img/displacement/1.jpg" data-intensity="-0.4" data-speedin="0.7" data-speedout="0.3" data-easing="Sine.easeOut">-->
<!--      <img src="img/Img1.jpg" alt="Image">-->
<!--      <img src="img/Img13.jpg" alt="Image Alt">-->
<!--      <canvas width="1920" height="1920" style="width: 960px; height: 960px;"></canvas></div>-->
<!--    <div class="grid__item-content">-->
<!--      <span class="grid__item-meta">Sweden</span>-->
<!--      <h2 class="grid__item-title">Build it forever</h2>-->
<!--      <h3 class="grid__item-subtitle">-->
<!--        <span>Sweden's famous furniture</span>-->
<!--        <a class="grid__item-link" href="#">Discover more</a>-->
<!--      </h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="grid__item grid__item--bg theme-10">-->
<!--    <div class="grid__item-img" data-displacement="img/displacement/10.jpg" data-intensity="0.7" data-speedin="1" data-speedout="0.5" data-easing="Power2.easeOut">-->
<!--      <img src="img/Img2.jpg" alt="Image">-->
<!--      <img src="img/Img3.jpg" alt="Image Alt">-->
<!--      <canvas width="1338" height="1338" style="width: 669px; height: 669px;"></canvas></div>-->
<!--    <div class="grid__item-content">-->
<!--      <span class="grid__item-meta">Germany</span>-->
<!--      <h2 class="grid__item-title">Holy House</h2>-->
<!--      <h3 class="grid__item-subtitle">-->
<!--        <span>Germany's amazing architecture</span>-->
<!--        <a class="grid__item-link" href="#">Check it out</a>-->
<!--      </h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="grid__item theme-9">-->
<!--    <div class="grid__item-content">-->
<!--      <nav class="grid__item-nav">-->
<!--        <a href="#" class="grid__item-link">Uzbekistan Today</a>-->
<!--        <a href="#" class="grid__item-link">History</a>-->
<!--        <a href="#" class="grid__item-link">Culture</a>-->
<!--      </nav>-->
<!--      <h2 class="grid__item-title grid__item-title--small">Stories from Landlocked Lands</h2>-->
<!--      <p class="grid__item-text">Drake Equation science Hypatia the ash of stellar alchemy. Circumnavigated gathered by gravity.</p>-->
<!--      <a href="#" class="grid__item-link">Read more</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<style>-->
<!--  .my-div{-->
<!--    position:relative;-->
<!--    height:410px;-->
<!--    width:690px;-->
<!--    background:black;-->
<!--    display:flex;-->
<!--    align-items:flex-end;-->
<!--    box-shadow: 0px 10px 40px rgba(0,0,0,.4);-->
<!--  }-->
<!--</style>-->

<!--<script>-->
<!--  var myAnimation = new hoverEffect({-->
<!--    parent: document.querySelector('.slide-2'),-->
<!--    intensity: 0.3,-->
<!--    image1: '<%= asset_path "girl1.jpg" %>',-->
<!--    image2: '<%= asset_path "girl2.jpg" %>',-->
<!--    displacementImage: '<%#= asset_path "displacement/6.jpg" %>'-->
<!--  });-->
<!--</script>-->