<%= stylesheet_link_tag "workout_sets" %>

<div class="">
  <div class="header-title">
    <h1>Tutorials</h1>
    <h2>You can purchase tutorials below:</h2>
  </div>

  <div class="wrap">
    <div class="workout-center">
      <% unless @tutorials.nil? %>
        <% @tutorials.each do |t| %>
          <figure class="card snip1492">
            <%= image_tag t.main_image.variant(combine_options: { resize: '600^', resize_to_fill: [313, 200] }), alt: "sample85" %>
            <figcaption>
              <h3><%= t.title %></h3>
              <p><%= t.description.first(150) %></p>
              <div class="price">
                $<%= t.price %>
              </div>
            </figcaption><i class="ion-plus-round"></i>
            <%= link_to '', workout_set_path(t) %>
          </figure>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<hr>
<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container p-5">
    <h1 class="display-4">Have Any Questions?</h1>
    <p class="lead">Please contact me. Contrary to popular belief, Lorem Ipsum is not simply random text</p>
    <a href="/contact_us" class="btn btn-secondary">CONTACT US</a>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-8 offset-md-2">
    <div class="header-title">
      <h2>Some latest blogs you might be interested in:</h2>
    </div>

    <%= render 'aplication/show_blogs' %>
  </div>
</div>


