<%= stylesheet_link_tag "workout_sets" %>

<div class="">
  <div class="header-title">
    <h1>Tutorials</h1>
    <h2>You can purchase tutorials below:</h2>
  </div>

  <div class="wrap">
    <div class="workout-center">
      <% @tutorials.each do |t| %>
        <figure class="card snip1492">
          <%= image_tag t.main_image.variant(combine_options: { resize: '600^', resize_to_fill: [313, 200] }), alt: "sample85" %>
          <figcaption>
            <h3><%= t.title %></h3>
            <p><%= t.description.first(150) %></p>
            <div class="price">
              $<%= t.price %>
            </div>
          </figcaption><i class="ion-plus-round"></i>
          <%= link_to '', workout_set_path(t) %>
        </figure>
      <% end %>
    </div>
  </div>
</div>

