<%= form_with(model: workout_set, local: true) do |form| %>
  <% if workout_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout_set.errors.count, "error") %> prohibited this workout_set from being saved:</h2>

      <ul>
      <% workout_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :workout_set_title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :workout_set_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <br>
    <small> Use first 126 characters as a PayPal description. It will only show this much to user when checking out. Will show the rest for regular view page.</small>
    <br>
    <%= form.text_area :description, id: :description %>
  </div>

  <div class="field">
    <%= form.label "Content Type" %>
    <%= form.collection_select(:type_id, Type.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label"Upload Main Picture" %>
    <%= form.file_field :main_image, class: "m-4" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
