<p id="notice"><%= notice %></p>

<h1>Workout Sets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_sets.each do |workout_set| %>
      <tr>
        <td><%= workout_set.title %></td>
        <td><%= workout_set.price %></td>
        <td><%= workout_set.type.name %></td>
        <td><%= link_to 'Show', workout_set %></td>
        <td><%= link_to 'Edit', edit_workout_set_path(workout_set) %></td>
        <td><%= link_to 'Destroy', workout_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout Set', new_workout_set_path %>
<br>
<%= link_to 'Back', root_path %>