<%= stylesheet_link_tag "workout_sets" %>
<% @page_title = @site_defaults.where(key: 'workouts_page_html_title').first.value %>
<% @seo_keywords = @seo_keywords + ', ' + @site_defaults.where(key: 'home_page_html_keys').first.value %>

<div class="header-title">
  <h1><%= @site_defaults.where(key: 'workouts_page_title').first.value %></h1>
  <h3><%= @site_defaults.where(key: 'workouts_page_sub_title').first.value %></h3>
</div>

<div class="container p-0 mt-5">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="<%= @site_defaults.where(key: 'workouts_page_video_url').first.value %>?rel=0&amp;autoplay=1&mute=1" frameborder="0"></iframe>
  </div>
  <script src="https://apis.google.com/js/platform.js"></script>

  <div class="g-ytsubscribe" data-channelid="UCCLbyOtcz4QphYXfZIEQPpQ" data-layout="full" data-theme="dark" data-count="default"></div>

  <div class="card p-1 mt-2">
    <div class="card-body">
      <h4>
        <%= @site_defaults.where(key: 'workouts_page_info_block').first.value %>
      </h4>
    </div>
  </div>
</div>

<div class="pt-3">
  <div class="wrap">
    <div class="workout-center">
      <% unless @workout_sets.nil? %>
        <%= paginate @workout_sets %>
        <% @workout_sets.each do |workout_set| %>
          <figure class="card snip1492">
            <%= image_tag workout_set.main_image.variant(combine_options: { resize: '600^', resize_to_fill: [313, 200] }), alt: "sample85" %>
            <figcaption>
              <h3><%= workout_set.title %></h3>
              <p><%= workout_set.description.first(150) unless workout_set.description.is_a?(NilClass) %></p>
              <div class="price">
                $<%= workout_set.price %>
              </div>
            </figcaption><i class="ion-plus-round"></i>
            <%= link_to '', workout_set_path(workout_set) %>
          </figure>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container p-5">
    <h1 class="display-4">Have Any Questions?</h1>
    <p class="lead">Please contact me. Contrary to popular belief, Lorem Ipsum is not simply random text</p>
    <a href="/contact_us" class="btn btn-secondary">CONTACT US</a>
  </div>
</div>