<%= stylesheet_link_tag "workout_sets" %>

<div class="">
  <div class="header-title">
    <h1>Workout Sets</h1>
    <h2>You can purchase sets below:</h2>
  </div>

  <div class="wrap">
    <div class="workout-center">
      <% @workout_sets.each do |workout_set| %>
        <figure class="card snip1492">
          <%= image_tag workout_set.main_image.variant(resize: "500"), alt: "sample85" %>
          <figcaption>
            <h3><%= workout_set.title %></h3>
            <p><%= workout_set.description.first(150) unless workout_set.description.is_a?(NilClass) %></p>
            <div class="price">
              $<%= workout_set.price %>
            </div>
          </figcaption><i class="ion-plus-round"></i>
          <%= link_to '', workout_set_path(workout_set) %>
        </figure>
      <% end %>
    </div>
  </div>
</div>