<%= stylesheet_link_tag "workout_sets" %>

<section>
  <div class="container pt-5 pb-4">
    <div class="row p-3">
      <div class="col-8">
        <h1 class="display-4"><%= @workout_set.title %></h1>
        ​<picture>
        <source srcset="" type="image/svg+xml">
        <%= image_tag @workout_set.main_image.variant(resize: "1800"), class:"img-fluid img-thumbnail"  %>
      </picture>
        <div class="mt-3">
          <div class="description-content"><%= @workout_set.description %></div>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3">
          <%= image_tag 'paypal-logo.png', class: "img-fluid m-3" %>
          <a href="/transactions/<%= @workout_set.id %>" class="btn btn-success btn-lg btn-block m-3">BUY</a>
          <h1 class="text-center p-3">$<%= @workout_set.price %></h1>
          <div class="videos-count">
            <strong>Includes <%= @workout_set.media.count %> videos:</strong>
            <% @workout_set.media.each do |m| %>
              <div><%= m.title %></div>
            <% end %>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center p-3">
  <%= link_to 'Back', workout_sets_path, class: "btn btn-light" %>
</div>

<div class="container">
  <div id="disqus_thread"></div>
</div>

<hr>
<div class="container">
  <div class="header-title">
    <h1>Blogs</h1>
    <h2>Some latest blogs you might be interested in:</h2>
  </div>

  <%= render 'aplication/show_blogs' %>
</div>

<script>
  var disqus_config = function () {
    this.page.url = window.location.href;
    this.page.identifier = "workout_set<%= @workout_set.id %>";
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://skrdev.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>