<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workout_set.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workout_set.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout_set.description %>
</p>

<div>
  <%= image_tag @workout_set.main_image.variant(resize: "300") %>
</div>

<%= link_to 'Edit', edit_workout_set_path(@workout_set), class: "admin-show" %> |
<%= link_to 'Back', workout_sets_path %>
