<%= form_for @contact, url: contact_us_path do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">
                Name</label>
              <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Enter name" %>
            </div>
            <div class="form-group">
              <label for="email">
                Email Address</label>
              <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                <%= f.text_field :email, required: true, class: 'form-control', placeholder: 'Enter email' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.select :reason, ['option1', 'option2'] %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">
                Message</label>
              <%= f.text_area :message,
                              rows: 8,
                              cols: 40,
                              required: true,
                              class: 'form-control',
                              placeholder: 'Your Message'%><br>
            </div>
          </div>
          <div class= "hidden d-none">
            <%= f.text_field :nickname %>
          </div>

          <div class="col-md-12">
            <%= f.submit 'Send Message', class: 'btn btn-primary pull-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>