<%= stylesheet_link_tag "my_videos" %>

<section>
  <div class="container pt-5">
    <div class="header-title">
      <h1>My Videos</h1>
      <h2>You can watch you video sets below:</h2>
    </div>
    <div class="mt-5">
      <div class="row sortable">
        <% @workouts.each do |workout| %>
          <div class="col-md-12 col-xl-4 col-lg-4 col-sm-12 col-12 m-0 p-1" data-id="<%= workout.id %>">
            <div class="card mb-4 shadow-sm projectCard">
              <div id="img-cropper">
                <a href="/my_videos/<%= workout.id %>"><%= image_tag workout.main_image, class: "bd-placeholder-img card-img-top imageHolder", id: "imageProject" %></a>
              </div>
              <div class="card-body">
                <p class="card-title"><%= Type.find(workout.type.id).name %>: <%= workout.title %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr>
  <div class="container">
    <div class="header-title">
      <h1>Blogs</h1>
      <h2>Some latest blogs you might be interested in:</h2>
    </div>

    <%= render 'aplication/show_blogs' %>
  </div>
</section>


