<%= stylesheet_link_tag "my_videos" %>

<div class="container">
  <%= react_component('VideoJSComponent', videos: "Here it is") %>
  <div class="header-title">
    <h1>My Videos</h1>
    <h2>You can watch you video sets below:</h2>
  </div>

  <div class="player-container">
    <% @workouts.each do |workout| %>
      <h1><%= workout.title %></h1>
      <video
        id="video<%= workout.title %>"
        class="video-js vjs-fluid"
        controls>
      </video>

      <div class="vjs-playlist">
        <!--
          The contents of this element will be filled based on the
          currently loaded playlist
        -->
      </div>
      <% workout.media.each do |m| %>

      <% end %>
    <% end %>
  </div>
</div>

<script>
  var player = videojs('video');
  player.playlist([{
    name: '<%= Medium.find(3).title %>',
    sources: [
      { src: '<%= rails_blob_path(Medium.find(3).video) %>', type: 'video/mp4' },
    ]
  },
    {
      name: '<%= Medium.find(5).title %>',
      sources: [
        { src: '<%= rails_blob_path(Medium.find(5).video) %>', type: 'video/mp4' },
      ]
    }
  ]);
  player.playlistUi();
</script>
