<%= javascript_include_tag "my_videos" %>
<%= stylesheet_link_tag "my_videos" %>

<div>
  <div class="player-container">
    <div class="video-player-div">
      <div class="container">
        <video
          id="video"
          class="video-js vjs-fluid"
          controls>
        </video>
      </div>
      </div>
    </div>

    <div class="container">
      <h2 class="pt-3"><%= @workout.title %>:</h2>
      <hr>

      <div class="vjs-playlist">
        <!--
          The contents of this element will be filled based on the
          currently loaded playlist
        -->
      </div>

      <div class="my-video-navigation">
        <%= link_to 'Go Back', my_videos_path %>
      </div>
    </div>

</div>

<div class="container">
  <div id="disqus_thread"></div>
</div>

<hr>
<div class="container">
  <div class="header-title">
    <h1>Blogs</h1>
    <h2>Some latest blogs you might be interested in:</h2>
  </div>

  <%= render 'aplication/show_blogs' %>
</div>

<div class="tutorials-wrapper">
  <%= render 'aplication/show_tutorials' %>
</div>

<script>
  var disqus_config = function () {
    this.page.url = "https://aermotion.herokuapp.com/workout_sets/<%= @workout.id %>"; //TODO: Update this when deployed to PROD
    this.page.identifier = "workout_set<%= @workout.id %>";
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://aermotion.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>