<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .admin-show {
        <% if user_signed_in? && current_user.admin %>
          display: block;
        <% else %>
          display: none;
        <% end %>
      }
    </style>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  </head>

  <body data-turbolinks="false">
    <script
      src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>
    <%= render 'aplication/navbar' %>
    <% unless params[:controller] == 'home' %>
      <div class="spacer"></div>
    <% end %>
    <div class="alert alert-warning alert-dismissible fade show m-0 p-0 alert-wrapper" role="alert">
      <p class="notice m-0 p-0 mr-3" style="display: <%= "none" unless notice %>;"><%= notice %></p>
      <p class="alert m-0 p-0 mr-3" style="display: <%= "none" unless notice %>;"><%= alert %></p>
      <button type="button" class="close p-0 m-0" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= yield %>
    <%= render 'aplication/footer' %>
  </body>
</html>