<!DOCTYPE html>
<html>
  <head>
    <title>Aermotion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .admin-show {
        <% if user_signed_in? && current_user.admin %>
          display: block;
        <% else %>
          display: none;
        <% end %>
      }
    </style>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body data-turbolinks="false">
    <%= render 'aplication/navbar' %>
    <% unless params[:controller] == 'home' %>
      <div class="spacer"></div>
    <% end %>
    <p class="notice" style="display: <%= "none" unless notice %>;"><%= notice %></p>
    <p class="alert" style="display: <%= "none" unless notice %>;"><%= alert %></p>
    <%= yield %>
    <%= render 'aplication/footer' %>
  </body>
</html>